/* Home Page */
.mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
  }

.mainPage img {
  filter: drop-shadow(8px 8px 15px);
  margin: 5px;
  padding: 2px;
}

.mainPage h1,h2 {
  margin: 5px;
  padding: 2px;
}

.backButton {
  border: none;
  transition: transform .75s ease, transform .75s ease;
}

.backButton:hover {
  transform: scale(1.25);
}
  
.form {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.form input {
  background-color: var(--white-bg);
  color: var(--dark-bg);
  padding: 5px;
  margin: 5px;
}

.form button, 
.favouritePokemonsButton,
.homePokemonsButton {
  border: 1px solid var(--dark-bg);
  border-radius: 10%;
  filter: none;
  transition: background .3s ease-in-out, background .3s ease-in-out,
  transform .5s ease-in-out, transform .5s ease-in-out,
  filter .25s ease-in-out, filter .25s ease-in-out;
}

.form button:hover, 
.favouritePokemonsButton:hover,
.homePokemonsButton:hover {
  background: var(--white-bg-2);
  transform: scale(1.25);
  filter: drop-shadow(2px 2px 2px);
}

.error {
  color: red;
  font-style: bold;
}

.pokemonListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pokemonCard {
  display: grid;
  margin: 10px;
  padding: 5px;
  border: 1px solid var(--dark-bg);
  transition: background .5s ease-in-out, background .5s ease-in-out,
  transform .5s ease-in-out, transform .5s ease-in-out;
}

.pokemonCard:hover {
  background: var(--white-bg-2);
  transform: scale(1.15);
}

.pokemonCard button {
  border: none;
  background: none;
}

.buttonsContainer {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
}

.favouritePokemon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.favouritePokemon button {
  transform: scale(1.75);
  transition: transform .3s ease-in-out, transform .3s ease-in-out;
}

.favouritePokemon button:hover {
  transform: scale(3);
}

.pokemonList {
  display: grid;
  width: 100%;
  max-width: 950px;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  grid-gap: 10px 20px;
  padding: 5px;
}

.pokemonList img {
width: 200px;
height: 200px;
filter: drop-shadow(2px 2px 2px);
}

@media only screen and (max-width:800px) {
  .backButton {
    transform: scale(.75);
    transition: transform .75s ease, transform .75s ease;
  }
  
  .backButton:hover {
    transform: scale(1);
  }

  .pokemonCard {
    transform: scale(0.9);
    transition: background .5s ease-in-out, background .5s ease-in-out,
    transform .5s ease-in-out, transform .5s ease-in-out;
  }
  
  .pokemonCard:hover {
    background: var(--white-bg-2);
    transform: scale(1.05);
  }
}