.pokemonDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.pokemonDetailsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--dark-bg);
}

.pokemonDetailsCard img {
  width: 200px;
  height: 200px;
  filter: none;
}

.pokemonDetailsButton {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  margin: 5px;
  padding: 5px;
}

.favouritePokemon {
  margin-top: 5px;
  padding-top: 5px;
}

.pokemonDetailsButton button {
  border: none;
  background: none;
  transition: transform .3s ease-in-out, transform .3s ease-in-out;
}

.pokemonDetailsButton button:hover {
  transform: scale(2);
}

.favouritePokemon button {
  background: none;
  transition: transform .3s ease-in-out, transform .3s ease-in-out;
}
.favouritePokemon button:hover {
  transform: scale(2.5);
}

.pokemonDetailsCard {
  display: flex;
  flex-direction: column;
}

.pokemonDetailsText {
  width: 95%;
  margin: 10px;
  padding: 10px;
}

.pokemonDetailsText ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.pokemonDetailsText :is(li,ul,h2,h3,h4,p) {
  margin: 1px;
  padding: 1px;
}

@media only screen and (max-width:800px) {
  .pokemonDetailsCard {
    width: 300px;
  }
}