:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  --white-bg : rgb(241, 239, 239);
  --white-bg-2 : rgb(190, 190, 190);
  --dark-bg : rgb(0,0,0);
  --dark-bg2 : rgb(17, 17, 17);

  color-scheme: light dark;
  color: var(--dark-bg2);
  background-color: var(--white-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  text-align: center;
  margin: 15px;
  padding: 5px;
}