:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  --white-bg : rgb(241, 239, 239);
  --white-bg-2 : rgb(190, 190, 190);
  --dark-bg : rgb(0,0,0);
  --dark-bg2 : rgb(17, 17, 17);

  color-scheme: light dark;
  color: var(--dark-bg2);
  background-color: var(--white-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  text-align: center;
  margin: 15px;
  padding: 5px;
}

img {
  width: 350px;
  filter: drop-shadow(10px 10px 10px);
}

h1 {
  font-size: 1.5rem;
  margin: 0;
}

h2 {
  font-size: 1.25rem;
  margin: 0;
}

h3 {
  font-size: 1.10rem;
  margin: 0;
}

h4 {
  font-size: 1.02rem;
  margin: 0;
}

button {
  background: var(--white-bg);
  color: var(--dark-bg);
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  align-items: center;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.form input {
  background-color: var(--white-bg);
  color: var(--dark-bg);
  padding: 5px;
  margin: 5px;
}

.form button {
  border: 1px solid var(--dark-bg);
  border-radius: 10%;
  transition: background .3s ease-in-out, background .3s ease-in-out,
  transform .3s ease-in-out, transform .3s ease-in-out;
}

.form button:hover {
  background: var(--white-bg-2);
  transform: scale(1.1);
}

.error {
  color: red;
  font-style: bold;
}

.pokemonDisplay button {
  border: 1px solid var(--dark-bg);
  transform: scale(1);
  transition: background .3s ease-in-out, background .3s ease-in-out,
  transform .3s ease-in-out, transform .3s ease-in-out;
}

.pokemonDisplay button:hover {
  background: var(--white-bg-2);
  transform: scale(1.2);
}

.pokemonDisplay {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px 20px;
  padding: 10px;
}

.pokemonDisplay button {
  margin: 10px;
  padding: 10px;
  border-radius: 5%;
}

.pokemonDisplay img,
.pokemonDetails img {
  width: 150px;
  height: 150px;
  filter: none;
}

.pokemonDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 15px;
  border: 1px solid var(--dark-bg);
}

.pokemonDetails button{
  position: relative;
  right: -125px;
  border: none;
  border-radius: 25%;
  transform: scale(1);
  transition: background .3s ease-in-out, background .3s ease-in-out,
  transform .3s ease-in-out, transform .3s ease-in-out;
}

.pokemonDetails button:hover {
  transform: scale(1.4);
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: left;
}

.detailsContainer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

.detailsContainer li {
  margin: 0;
  padding: 0;
}

.urlNotFound {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.urlNotFound button {
  border: 2px solid black;
  transform: scale(1);
  transition: background-color .3s ease-in-out, background-color .3s ease-in-out,
  transform .3s ease-in-out, transform .3s ease-in-out,
  color .3s ease-in-out, color .3s ease-in-out;
}

.urlNotFound button:hover {
  transform: scale(1.4);
  background-color: var(--dark-bg);
  color: var(--white-bg);
}